---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
    <html>
      <div class="tag">
        <span class="tag-text tag-text__local">Local</span>
      </div>
      <div class="tag">
        <span class="tag-text tag-text__development">Development</span>
      </div>
      <div class="tag">
        <span class="tag-text tag-text__staging">Staging</span>
      </div>
      <div class="tag">
        <span class="tag-text tag-text__production">Production</span>
      </div>
    </html>